/code/zx/workspace/projects/mono/wip/broot_testing
 └──a
    └──m
       └──x
          └──112.txt











































 Hit enter to open the fi…, alt-enter t…, esc t…rb
112                                    h:n  gi:y
