/code/zx/workspace/pr112.txt              lines: 1
 └──a                 Hello, Dystroy is a one-man
    └──m
       └──x
          └──112.txt











































 Hit enter to open the fi…, alt-enter t…, esc t…rb
112        h:n  gi:y
