broot
[32m[~/broot_testing][39m
[32m➤ [39mbroot            [zx@Seagate500Mini2 11:51:30 ]
/home/zx/broot_testing/a/m/x/34.txt
[32m[~/broot_testing][39m
[32m➤ [39m                 [zx@Seagate500Mini2 11:51:37 ]












































