broot
[/code/zx/workspace/projects/mono/wip/broot_testin
g]
➤ broot             [zx@Seagate500Mini1 8:06:58 ]
/code/zx/workspace/projects/mono/wip/broot_testing
/a/m/x/34.txt
[/code/zx/workspace/projects/mono/wip/broot_testin
g]
➤                   [zx@Seagate500Mini1 8:07:05 ]









































